@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
   font-family: 'Poppins', sans-serif; 
}



.heading{
    color: white;
    letter-spacing: 8px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
 
    
}
nav{
    position:fixed;
    background-color: transparent;
  height: 0px;
  width: 100%;
    
   z-index: 20;

  
}
label.logo{
  color: white;
  font-size: 36px;
  padding: 10px 0;
  font-weight: 600;
    margin-left: -300px;
    padding-top: 20px;
    letter-spacing: 10px;
    font-family: 'pasajero', sans-serif; 
    z-index: 3;
}

nav ul{
  float: right;
  margin-right: 60px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 2px;
}
nav ul li a{
  color: white;
  font-weight: 500;
  font-size: 20px;
  padding: 9px 13px;
    
  
  /* text-transform: uppercase; */

}
a.active,a:hover{
  background: transparent;
  transition: .6s;
    
}
.checkbtn{
  font-size: 30px;
  color: black;
    align-content: center;
  text-align: center;
    align-self: center;
    padding-top: 10px;
   position: fixed;
    bottom: 0%;
  left: 38.5%;
  cursor: pointer;
  display: none;
    background-color: white;
    align-items: center;
   width: 120px;
    box-shadow: rgb(255 255 255 0.7);
    
}


#check2{
   
  display: none;
  
}

#check{
   
  display: none;
   
}
@media (max-width: 1052px){
  label.logo{
    font-size: 27px;
    padding-left: 25px;
  }
  nav ul li a{
    font-size: 16px;
  }
    
    
   
    
}
@media (max-width: 1058px){
  .checkbtn{
    display: block;
    margin-right: 40px;
      
  }
    label.logo{
  color: white;
  font-size: 33px;
  line-height: 80px;
  font-weight: 600;
 letter-spacing: 10px;
font-family: 'pasajero', sans-serif;
        
          
  
}

    .checkbtn2{
    color: white;
    font-size: 30px;
    cursor: pointer; 
    
    z-index: 2;
    top: 20%;
    align-items: center;
    transition: all .6s;
    
}
   
    
    
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    left: 0%;
    bottom: -110%;
    text-align: center;
    transition: all .5s;
    padding-top: 200px;
       
  }
  nav ul li{
     
    display: block;
    margin: 40px 30px;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0%;
    bottom: -10%;
    top: 0%;
    transition-delay: .6s;
   
  }
     
    
}
.head{
   
  background: url(../img/cover.jpg) no-repeat;
    margin-top: 0!important;
    background-position: center;
  background-size: cover;
  height: 100vh;
    
}
.text-header{
    color: white;
    padding-top: 400px;
    
}
.headerdown{
    color: white;
   margin-top: 900px;
}

.aboutcover{
  background-image: url(../img/cover1.png);
}
.about{
    padding-top: 7%;
    padding-bottom: 6%;
    background-position: center top; 
    background-size: cover; 
    margin-left: 10%;
    margin-right: 10%;
    
}
.about-text{
    color: white;
}




.fffoo{
  background-image: url(../img/cover2.png);

}

.fffoo a{
  
  font-weight: 300;
  color: white;
}
.fffoo h4{
  color: white;
  padding-bottom: 10px;
  font-weight: 500;
}

.fffoo p{
  
  font-weight: 200;
  color: white;}

.mainfooter{
  padding-top: 50px;
 
}
.f2f{
  padding-top: 20px;
    padding-bottom: 60px;
  width: 100%;
  
}
.testii{
 
  background-image: url();
  

}  

.testimonial-wrap{
    padding-top: 5%;
  background-image: url(https://wallpapertag.com/wallpaper/middle/1/a/1/350829-widescreen-website-background-1920x1080-windows-xp.jpg#.XsDx49o2C_A.link);
  background-size: cover;
  background-position: center;
    margin-bottom: 0;
}



.work{
    margin-top: 10%;
    background-image: url(../img/cover3.png);
  /*background-image: url(https://i.pinimg.com/564x/ef/7f/b1/ef7fb1b37078b6a2aef8e40710446bfa.jpg);*/
  background-repeat: no-repeat;
  background-blend-mode: screen;
  color: white;
  background-position: center;
}

.workmargin{

  margin-right: 15%;
  margin-left: 10%;
   margin-bottom:  10%;
}
.workmargin h2{
  margin-top: 10%;
  color: white;
}
.workmargin p{
 
  color: white;
}


/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.or-seperator{
        margin: 50px 0 15px;
        text-align: center;
        border-top: 1px solid #007bff;
}

.or-seperator b {
        padding: 0 10px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    display: inline-block;
    border: 1px solid #007bff;
    border-radius: 50%;
    position: relative;
    top: -22px;
    z-index: 1;
}
/*team*/

/*team*/
.teamtheme{
  background-color: black;

}




.our-team{
    border: 2px solid #007bff;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
   
    z-index: 1;
    position: relative;
}
.our-team:before,
.our-team:after{
    content: "";
    width: 100%;
    height: 104%;
    background: #007bff;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%) scaleX(0.3);
    transition: all 0.3s ease 0s;
}
.our-team:after{
    width: 106%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(0.25);
}
.our-team:hover:before{ transform: translateY(-50%) scaleX(0.7); }
.our-team:hover:after{ transform: translate(-50%, -50%) scaleY(0.7); }
.our-team img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}
.our-team .team-content{
    width: 93%;
    padding: 25px 0 10px;
    background: #007bff;
    position: absolute;
    bottom: 50px;
    left: 50%;
    opacity: 0;
    -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    transform: translateX(-50%);
    transition: all 0.3s cubic-bezier(0.5, 0.2,0.1,0.9);
}
.our-team:hover .team-content{
    bottom: 10px;
    opacity: 1;
}
.our-team .title{
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0;
}
.our-team .post{
    display: block;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.our-team .social{
    padding: 0;
    margin: 0;
    list-style: none;
}
.our-team .social li{
    display: inline-block;
    margin: 0 5px;
}
.our-team .social li a{
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background: #fff;
    font-size: 20px;
    color: #007bff;
    transition: all 0.3s ease 0s;
}
.our-team .social li a:hover{
    background: linear-gradient(to bottom,#007bff, darkred);
    box-shadow: 0 0 0 5px rgba(255,255,255,0.3);
    color: #fff;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}

/*signin*/
/* signin */


.form-signin {
  
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

