{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/images/favicon/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	  
	  
	<!-- Custom styles for this template -->
	<link href="{% static 'css/founding.css' %}" rel="stylesheet">

    <title>Pillar</title>

</head>
<body>

<!-- nav bar -->
		
					<header class="header">
					<div class="container">
								
					  <a href="" class="logo">Asper</a>
					  <input class="menu-btn" type="checkbox" id="menu-btn" />
					  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
					  <ul class="menu">
					  	
					    
					    <li><a href="{% url 'Index' %}">Home</a></li>
					    <li><a href="{% url 'Team' %}">Team</a></li>
					    
					  </ul>
					</div>
					</header>
							
				  
		<!--nav bar end -->
		<div class="progress">
		  <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
		  <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
		  <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
<br>
<h1>Neo Fi</h1>
<br>

	<div class="container">
	<div class="row">
		<div class="col-md-12 copy">
			<p>Package template implements data-driven templates for generating textual output.

            To generate HTML output, see package html/template, which has the same interface as this package but automatically secures HTML output against certain attacks.

            Templates are executed by applying them to a data structure. Annotations in the template refer to elements of the data structure (typically a field of a struct or a key in a map) to control execution and derive values to be displayed. Execution of the template walks the structure and sets the cursor, represented by a period '.' and called "dot", to the value at the current location in the structure as execution proceeds.

            The input text for a template is UTF-8-encoded text in any format. "Actions"--data evaluations or control structures--are delimited by "{{" and "}}"; all text outside actions is copied to the output unchanged. Except for raw strings, actions may not span newlines, although comments can.

            Once parsed, a template may be executed safely in parallel, although if parallel executions share a Writer the output may be interleaved.
        	</p>
		</div>
	</div>
	</div><br>
<div class="or-seperator"><b></b></div>
<h2>Pillars of Asper</h2><br>	
<div class="container">	

<div class="row">
		 
        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <img src="https://dummyimage.com/200x250/ffffff/000000.png">
                <div class="team-content">
                    <h3 class="title">Name name</h3>
                    
                    <ul class="social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <img src="https://dummyimage.com/200x250/ffffff/000000.png">
                <div class="team-content">
                    <h3 class="title">Name name</h3>
                    <ul class="social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <img src="https://dummyimage.com/200x250/ffffff/000000.png">
                <div class="team-content">
                    <h3 class="title">Name name</h3>
                    <ul class="social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div>
            </div>
       </div>
       <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <img src="https://dummyimage.com/200x250/ffffff/000000.png">
                <div class="team-content">
                    <h3 class="title">Name name</h3>
                    <ul class="social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div>
            </div>
       </div>
       
</div>
</div>


<div class="or-seperator"><b></b></div>
<h2> Meet The Neo Phytes</h2><br>

	<div class="row">
		<div class="col-md-3 col-sm-1">
    	</div>
        <div class="col-md-2 col-sm-6">
            
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="our-team">
                <img src="https://dummyimage.com/200x250/ffffff/000000.png">
                <div class="team-content">
                    <h5 class="title">Anadi Nema</h5>
                    <span class="post">Founder of Neo-Fi & Asper</span>
                    <ul class="social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            
        </div>
        <div class="col-md-2 col-sm-1">
    	</div>
    	<div class="col-md-2 col-sm-1">
    	</div>
    </div>

	
<div class="row">
    	<div class="col-lg-1 col-md-1 col-sm-1">
    	</div>
         <div class="col-md-2 col-sm-3">
	            <div class="our-team">
	                <img src="https://dummyimage.com/200x250/ffffff/000000.png">
	                <div class="team-content">
	                    <h3 class="title">Anshuman Prajapati</h3>
	                    <span class="post">Memember of Neo-Fi & Founding member of Asper</span>
	                    <ul class="social">
	                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
	                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
	                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	        <div class="col-md-2 col-sm-3">
	            <div class="our-team">
	                <img src="https://dummyimage.com/200x250/ffffff/000000.png">
	                <div class="team-content">
	                    <h3 class="title">Saniya Zuberi</h3>
	                    <span class="post">Memember of Neo-Fi & Founding member of Asperr</span>
	                    <ul class="social">
	                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
	                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
	                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
	                    </ul>
	                </div>
	            </div>
	        </div>

    <div class="col-md-2 col-sm-3">
	            <div class="our-team">
	                <img src="https://dummyimage.com/200x250/ffffff/000000.png">
	                <div class="team-content">
	                    <h3 class="title">Bhowmika Reddy</h3>
	                    <span class="post">Memember of Neo-Fi & Founding member of Asper</span>
	                    <ul class="social">
	                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
	                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
	                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
	                    </ul>
	                </div>
	            </div>
	        </div>

	        <div class="col-md-2 col-sm-3">
            <div class="our-team">
                <img src="https://dummyimage.com/200x250/ffffff/000000.png">
                <div class="team-content">
                    <h3 class="title">Paridhi Dandwate</h3>
                    <span class="post">Memember of Neo-Fi & Founding member of Asper</span>
                    <ul class="social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    	<div class="col-md-2 col-sm-3">
            <div class="our-team">
                <img src="https://dummyimage.com/200x250/ffffff/000000.png">
                <div class="team-content">
                    <h3 class="title">Samkit Jain</h3>
                    <span class="post">Memember of Neo-Fi & Founding member of Asper</span>
                    <ul class="social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        

        
        <div class="col-lg-1 col-md-1 col-sm-1">
    	</div>
    </div>







</div>
<!-- footer -->
<footer class="mainfooter" role="contentinfo">
  	<div class="footer-middle">
  		
    	<div class="or-seperator"><b></b></div>
  	<div class="container">
  		
	<div class="row">
		<div class="col-md-12 copy">
			<h6 class="text-center">&copy; Copyright 2019 - Neo Fi.  All rights reserved.</h6><br>
		</div>
	</div>
	</div>
	</div>
</footer>
    <script src="https://kit.fontawesome.com/81cc90b775.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>	