{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon/favicon.ico' %}">

    <title>Login</title>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" media="screen" href="{% static 'css/style.css' %}">

  </head>

<body class="text-center">
<!-- count particles -->
<div class="for">



<!-- nav bar -->
          <header class="header">
            <div class="container">

            <a href="" class="logo">Asper</a>
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">

              <li><a href="#">Our Work</a></li>
              <li><a href="#">Team</a></li>

            </ul>
          </div>
          </header>
<!--nav bar end -->



  <!-- Indicators -->

  <!-- The slideshow -->

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://dummyimage.com/1920x1/000000/ffffff.png" alt="" width="1100" height="500">
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br>
  <!-- Left and right controls -->
  <form class="form-signin">
      <img class="mb-4" src="{% static 'images/logo/main.png' %}" alt="" width="90" height="90">
      <div class="or-seperator"><b></b></div>
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <br>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
         <p> <input type="checkbox" value="remember-me"> Remember me</p>
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    </form><br>
    <div class="text-center"><p> Don't have an account?  <a href="signin.html">SignUp</a> </p></div>

</div>


<!-- particles.js container -->
<div id="particles-js">
</div>



<!-- scripts -->
<script src="assets/js/particles.js"></script>
<script src="assets/js/app.js"></script>

<!-- stats.js -->
<script src="assets/js/lib/stats.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

</body>
</html>